*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

header h1{
    margin:20px 0;
    text-align: center;
    font-size: 3rem;
}
.container{
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding : 20px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
}

.image{
    width: 32%;
    position:relative;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
}
.image img{
    height: 100%;
    width: 100%;
    filter: grayscale(100%);
    box-shadow: 0 0 20px rgb(66, 58, 58);
}

.image:hover{
    transform: scale(1.03);
    transition: 0.5s;
    filter: drop-shadow(0 0 10px #333);
}
.image img:hover{
    filter: grayscale(0%);

}
.image figcaption{
    position: absolute;
    color: aliceblue;
    bottom: 0;
    left: 0;
    padding: 25px;
    width: 100%;
    height: 20%;
    font-size: 16px;
    font-weight: 500;
    opacity: 0;
    border-radius: 0 0 10px 10px;
    /* background: linear-gradient(); */
    transition: 0.5s;

}
.image:hover figcaption{
    opacity:1;
    transform: scale(1.03);
}
/* .container{
    width: 100%;
    height:100%;
    /* margin-left: 10px;
    margin-right: 10px; */
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 80px 10rem;
    /* max-width: 1000px; */
    /* min-width: auto;
    min-height: auto;
    gap: 2px;

} */ 

